.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/
/assets/downloads/
composer.lock
/cronjobs/*.dat

/assets/images/brands/*
!/assets/images/brands/index.html
/assets/images/campaigns/*
!/assets/images/campaigns/index.html
/assets/images/influencers/*
!/assets/images/influencers/index.html

/uploads/images/approval/*
!/uploads/images/approval/index.html
!/uploads/images/index.html
/uploads/videos/approval/*
!/uploads/videos/approval/index.html
!/uploads/videos/index.html

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
